:root,
html[data-theme="light"] {
    --bg: #f2f2f2;
    --content-bg: #fff;
    --h-bg: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
    --font-color: #000;
    --hover-btn: linear-gradient(30deg, #009efd, #2af598);
    --muted: #828282;
    --lightblue: #17c7be;
}

html[data-theme="dark"] {
    --bg: #0f172a;
    --content-bg: #1e293b;
    --h-bg: radial-gradient(
        circle,
        rgba(3, 85, 116, 1) 0%,
        rgba(33, 1, 55, 1) 100%
    );
    --font-color: #fff;
    --hover-btn: linear-gradient(30deg, #009efd, #2af598);
    --muted: #c4c4c4;
    --lightblue: #61ede4;
}

[data-theme="light"] .d-block-light,
[data-theme="dark"] .d-block-dark {
    display: block !important;
}

.theme-toggler {
    background: var(--content-bg);
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition-duration: 0.3s;
    border: none;
}

.d-block-light {
    color: #0f172a;
}

.d-block-dark {
    color: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: var(--font-color);
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

main p,
main li {
    color: var(--muted);
}

h2,
h4 {
    font-weight: 600;
}

/* navbar */

.navbar {
    background: var(--content-bg);
}

.navbar-toggler i {
    color: var(--font-color);
    font-size: 28px;
}
.navbar-nav li a {
    color: var(--font-color);
}

/* hero section */

.hero {
    width: 100%;
    height: 93vh;
    background-size: cover;
    background: var(--h-bg);
}

.hero h1 {
    font-weight: 700;
}

.hero h3 {
    font-weight: 600;
    color: var(--lightblue);
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero__avatar {
    border-radius: 50%;
    box-shadow: 30px 30px 100px 20px rgba(216, 59, 210, 0.2),
        -50px -40px 100px 20px rgba(244, 66, 80, 0.2),
        0 8px 20px 1px rgb(0 0 0 / 30%);
}

.hero__avatar {
    width: 180px;
}

.hero__icons button {
    background: var(--content-bg);
    border: none;
    box-shadow: 0 8px 20px 1px rgb(0 0 0 / 20%);
    border-radius: 25%;
    width: 3rem;
    height: 3rem;
}

.hero__icons i {
    padding: 0.5rem;
}

.hero__icons button:hover {
    background: var(--hover-btn);
}

.hero__icons a:not(:first-child) {
    margin-left: 0.6rem;
}

.github {
    color: var(--font-color);
}

.discord {
    color: #5865f2;
}

.linkedin {
    color: #0e76a8;
}

.hero__icons i:hover {
    color: #fff;
}

.hero__icon--down {
    font-size: 2.5rem;
    color: var(--font-color);
}

/* container style */
.sec-container {
    background: var(--content-bg);
    border-radius: 12px;
}

/* about section */

.about h4 {
    color: var(--lightblue);
}

.about__data ul li {
    margin: 1rem 0;
    color: var(--font-color);
}

.about__data ul li i {
    margin-right: 0.5rem;
    color: var(--lightblue);
}

/* tech section */

.cv__skillset,
.cv__educ {
    margin-bottom: 1rem;
}

.cv__skillset img {
    height: 120px;
    margin: 1rem;
}

.github-logo {
    height: 120px;
    fill: var(--font-color);
    margin: 1rem;
}

/* education */

.educ__item {
    margin: 1rem 0;
}

.educ__item__text i {
    color: var(--lightblue);
}

.educ__item__text {
    margin-left: 2rem;
}

/* projects */

.projects__row {
    row-gap: 30px;
}

.card {
    border: none;
    background-color: var(--content-bg);
    border-radius: 12px;
    padding: 1rem;
}

.card img {
    border-radius: 10px;
}

.projects h4 {
    font-size: 2rem;
}

.p-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.p-btn {
    margin-top: 1rem;
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
    padding-inline: 2rem;
}

.p-btn a {
    text-decoration: none;
}

.btn:hover {
    background: var(--hover-btn);
    color: #fff;
    border-color: var(--lightblue);
}

/* footer */

.footer__icons i {
    color: var(--font-color);
    font-size: 1.2rem;
    margin: 1rem;
}

.footer__icons i:hover{
    color: var(--lightblue);
}

@media (max-width: 576px) {
    .cv__skillset img {
        height: 50px;
    }
    .github-logo {
        height: 50px;
    }

    .hero__avatar {
        width: 120px;
    }
}
